
html{
    background-color: rgb(40,40,40);
    background-image: url(back2.jpg);
    background-repeat:no-repeat;
    background-size:100%;
}

.container{
    width:700px;
    margin:30px auto;
    font-family:sans-serif;
    font-size:20px;
    background-color:rgb(70,70,70);
    padding:30px;
    border-radius:12px;
    color:white;
    border: solid 1px grey;
    box-shadow: 0px 0px 12px 9px rgba(5, 6, 6, 0.75);

.form-group .label{
    display:block;
    margin-bottom:10px;

}

.form-group{
    margin: 0 3px 20px 3px;

}

.button{
    display:block;
    width:150px;
    height:40px;
    margin: 0 auto;
    border-radius: 5px;
    border:none;
    background-color:rgb(0, 200, 255);
    color:white;
    font-size:20px;

}

.button:hover{
    background-color: rgb(0, 230, 255);
}

.input-text{
    background-color:rgb(60,60,60);
    color:white;
    font-size: 16px;
    outline-style:groove;
    outline-width:1px;
    outline-color:dimgray;
    border-radius:5px;
    padding:10px;
    border:none;


}

fieldset{
    border-color:dimgray;
    border-radius: 5px;
    margin:0 2px 20px 2px;

}

textarea{
    background-color:rgb(60,60,60);
    color:white;
    font-size: 16px;
    width:673px;
    padding:10px;
    border:solid 1px dimgray;
    border-radius: 5px;
    resize: none;

}

textarea:focus,.input-text:focus{
    border-color:none;
    outline-style:groove;
    outline-width: 1px;
    outline-color:rgb(0, 200, 255);
    border-color:rgb(60,60,60); 
}

select{
    background-color: dimgray;
    color:white;
    font-size: 16px;
    padding:10px;
    border-radius:5px;
    border:none;
}

option:hover{
    background-color: rgb(0, 200, 255);
}

select:focus{
    outline-style:groove;
    outline-width: 1px;
    outline-color:rgb(0, 200, 255);
}


.radio{
    outline:none;

}

